.ring-1 {
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-left: -7px;
}

.ring-2 {
  width: 20px;
  height: 20px;
  padding: 20px;
  margin-left: -14px;
}

.ring-3 {
  width: 30px;
  height: 30px;
  padding: 30px;
  margin-left: -21px;
}

.ring-4 {
  width: 40px;
  height: 40px;
  padding: 40px;
  margin-left: -28px;
}

.ring-5 {
  width: 50px;
  height: 50px;
  padding: 50px;
  margin-left: -35px;
}

.ring-6 {
  width: 60px;
  height: 60px;
  padding: 60px;
  margin-left: -42px;
}

.ring {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 4px solid #2C3E50;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  font-family: "Mansalva", cursive;
  background-image: url(img/dynamic-style.png);
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  background-color: #e67e22;
}

.logo {
  margin: 0;
  font-size: 20px;
  color: #ffff;
}

.menuList {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuItem {
  list-style: none;
  font-size: 20px;
  padding-left: 15px;
  border-left: 2px solid #ffff;
  margin-left: 15px;
}

.menuItem.active {
  border-left: none;
  border-bottom: 3px solid #ffff;
  padding-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 5px;
}

.menuItemAnchor {
  text-decoration: none;
  color: #ffff;
}

.mainContainer {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title {
  font-size: 40px;
  margin: 0 20px;
}

.sectionPrecious {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ring.ringPrecious {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #e67e22;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sectionRing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionRingPlease {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerRingPlease {
  margin-bottom: 20px;
}

.ring.ringRing {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 8px solid #f39c12;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footerContainer {
  background: #e67e22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.footerListItem {
  list-style: none;
}

.footerListItem.findPrecious {
  margin-top: 20px;
}

.footerItemAnchor {
  text-decoration: none;
  color: #ffff;
}
/*# sourceMappingURL=style.css.map */